.new-case-single-body {
  padding-bottom: 30px;
}
.new-case-single-body .content {
  display: flex;
  gap: 20px;
}
.new-case-single-body .content .left-block {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 954px;
  width: 100%;
}
.new-case-single-body .content .left-block h1 {
  color: #474747;
  font-size: 45px;
  font-style: normal;
  font-weight: 350;
  line-height: normal;
  margin-bottom: 6px;
}
@media (max-width: 1024px) {
  .new-case-single-body .content .left-block h1 {
    font-size: 35px;
  }
}
@media (max-width: 768px) {
  .new-case-single-body .content .left-block h1 {
    text-align: center;
  }
}
.new-case-single-body .content .left-block .line {
  margin-bottom: 6px;
  width: 100%;
  height: 1px;
  background: #D9D9D9;
  flex-shrink: 0;
}
.new-case-single-body .content .left-block .case-logo {
  width: 215px;
  height: 70px;
  flex-shrink: 0;
  margin-bottom: 2px;
}
.new-case-single-body .content .left-block p {
  color: #474747;
  font-size: 18px;
  font-style: normal;
  font-weight: 350;
  line-height: 150%; /* 27px */
}
.new-case-single-body .content .left-block h2 {
  color: #474747;
  font-family: "UZ Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  gap: 20px;
  align-items: center;
}
.new-case-single-body .content .left-block h2::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='42' height='17' viewBox='0 0 42 17' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.86269 0.00626062H0L6.86201 16.0656H12.5612L19.0116 0H15.2059L10.504 11.5744L5.86269 0.00626062Z' fill='%2301C2FF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.5797 16.0555H6.85938L13.6263 0.00134277H18.9831L25.728 15.9928H21.7512L17.2179 4.47335L12.5797 16.0555Z' fill='%2301C2FF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.6328 0L18.9806 0.00626062L23.1144 9.50072L27.1342 0.00134277H28.3234L28.3239 0H30.2569L30.2564 0.00134277H34.3392L41.0844 15.9928H35.2591L30.7258 4.47335L26.1488 15.9928H23.8779L23.8779 15.9929H20.0118L13.6328 0Z' fill='%2301C2FF'/%3E%3C/svg%3E");
  display: block;
}
@media (max-width: 1024px) {
  .new-case-single-body .content .left-block h2 {
    font-size: 25px;
  }
}
.new-case-single-body .content .left-block .case-step {
  display: flex;
  gap: 20px;
}
@media (max-width: 768px) {
  .new-case-single-body .content .left-block .case-step {
    flex-direction: column;
  }
}
.new-case-single-body .content .left-block .case-step .counter {
  flex-shrink: 0;
  display: flex;
  width: 129px;
  height: 129px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18.429px;
  border-radius: 368.571px;
  background: #F3F7FC;
  box-shadow: 12.9px 12.9px 2.764px -25.8px #FFF inset, 0px 16.586px 1.843px 0px rgba(0, 0, 0, 0.06), 14.743px 44.229px 38.884px -22.114px rgba(0, 0, 0, 0.15);
  color: #01C2FF;
  text-align: center;
  font-family: "UZ Sans";
  font-size: 73.714px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media (max-width: 768px) {
  .new-case-single-body .content .left-block .case-step .counter {
    width: 80px;
    height: 80px;
    font-size: 45px;
  }
}
.new-case-single-body .content .left-block .case-step .step-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.new-case-single-body .content .left-block .case-step .step-info .step-title {
  color: #474747;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 30px */
}
.new-case-single-body .content .left-block .image-container {
  width: 100%;
  height: 636px;
  position: relative;
}
@media (max-width: 768px) {
  .new-case-single-body .content .left-block .image-container {
    height: 450px;
  }
}
@media (max-width: 500px) {
  .new-case-single-body .content .left-block .image-container {
    height: 280px;
  }
}
.new-case-single-body .content .left-block .image-container img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: contain;
}
.new-case-single-body .content .left-block .image-container .image-zoom {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: flex;
  padding: 20px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 200px;
  background: #D1F4FF;
  cursor: pointer;
}
.new-case-single-body .content .left-block .image-container .image-zoom span {
  border-radius: 100px;
  background: rgba(1, 194, 255, 0.36);
  display: flex;
  padding: 30px;
  align-items: flex-start;
  gap: 10px;
}
@media (max-width: 768px) {
  .new-case-single-body .content .left-block .image-container .image-zoom span {
    padding: 10px;
  }
}
.new-case-single-body .content .left-block .quote {
  background: #FDFDFD;
  box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.25) inset, 0px 1px 0px 0px rgba(0, 0, 0, 0.25) inset;
  display: flex;
  padding: 10px 20px;
  align-items: center;
  gap: 20px;
  align-self: stretch;
}
@media (max-width: 768px) {
  .new-case-single-body .content .left-block .quote {
    padding: 10px 0;
  }
}
.new-case-single-body .content .left-block .quote svg {
  flex-shrink: 0;
}
.new-case-single-body .content .left-block .quote p {
  color: #474747;
  font-size: 20px;
  font-style: normal;
  font-weight: 350;
  line-height: 160%;
}
.new-case-single-body .content .left-block .quote p span {
  font-weight: 700;
}
.new-case-single-body .content .left-block .subtitle {
  color: #474747;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}
.new-case-single-body .content .left-block .navigation {
  display: flex;
  gap: 20px;
  align-items: center;
}
.new-case-single-body .content .left-block .navigation .arrow-prev, .new-case-single-body .content .left-block .navigation .arrow-next {
  cursor: pointer;
}
.new-case-single-body .content .left-block .navigation .arrow-prev svg rect, .new-case-single-body .content .left-block .navigation .arrow-next svg rect {
  transition: 0.3s ease;
}
.new-case-single-body .content .left-block .navigation .arrow-prev:hover svg rect, .new-case-single-body .content .left-block .navigation .arrow-next:hover svg rect {
  fill: #00B0E7;
}
.new-case-single-body .content .left-block .navigation a {
  color: #01C2FF;
  font-family: UZ Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 350;
  line-height: normal;
  text-decoration-line: underline;
}
.new-case-single-body .content .right-block {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (max-width: 1024px) {
  .new-case-single-body .content .right-block {
    display: none;
  }
}
.new-case-single-body .content .right-block .case-info {
  display: flex;
  padding: 10px 20px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 3px;
  background: #FAFAFA;
}
.new-case-single-body .content .right-block .case-info p {
  display: flex;
  padding: 10px 0px;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
  color: #474747;
  font-family: UZ Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 25.6px */
}
.new-case-single-body .content .right-block .case-info p a {
  color: #7399EC;
  font-family: UZ Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 350;
  line-height: 160%;
  text-decoration-line: underline;
}
.new-case-single-body .content .right-block .case-info p span {
  color: #474747;
  font-family: UZ Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 350;
  line-height: 160%;
}
.new-case-single-body .content .right-block .contact {
  max-width: 305px;
  border-radius: 3px;
  border: 1px solid #F1F1F1;
  background: #FAFAFA;
  display: flex;
  flex-direction: column;
  gap: 22px;
  align-items: center;
  padding: 40px 48px;
}
.new-case-single-body .content .right-block .contact p {
  color: #474747;
  text-align: center;
  font-family: UZ Sans;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 40px */
}
.new-case-single-body .content .right-block .contact span {
  color: #474747;
  text-align: center;
  font-family: UZ Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 350;
  line-height: 160%; /* 24px */
}
.new-case-single-body .content .right-block .contact a {
  display: flex;
  height: 48px;
  padding: 15px;
  align-items: center;
  gap: 15px;
  flex-shrink: 0;
  border-radius: 3px;
  border: 1px solid #474747;
  background: rgba(255, 255, 255, 0);
  transition: 0.3s ease;
}
.new-case-single-body .content .right-block .contact a span {
  color: #474747;
  font-family: UZ Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: 0.3s ease;
}
.new-case-single-body .content .right-block .contact a svg path {
  transition: 0.3s ease;
}
.new-case-single-body .content .right-block .contact a:hover {
  background: #01C2FF;
  border: 1px solid #01C2FF;
}
.new-case-single-body .content .right-block .contact a:hover span {
  color: #fff;
}
.new-case-single-body .content .right-block .contact a:hover svg path {
  fill: #fff;
}
.new-case-single-body .content .right-block .contact .socials {
  display: flex;
  gap: 22px;
  justify-content: center;
  align-items: center;
}
.new-case-single-body .content .right-block .contact .socials a {
  background: transparent;
  padding: 0;
  border: none;
}
.new-case-single-body .content .right-block .contact .socials a svg path {
  transition: 0.3s ease;
}
.new-case-single-body .content .right-block .contact .socials a:hover {
  transform: scale(1.1);
}
.new-case-single-body .content .right-block .contact .socials a:hover svg path {
  fill: #01C2FF;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  display: none;
  transition: all 0.5s ease;
  padding: 0 25px;
}
.overlay.open {
  display: block;
}

.gallery-modal {
  display: flex;
  width: 852px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 30px;
  background: #FFF;
  box-shadow: 0px 10px 21px -4px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  display: none;
}
.gallery-modal.open {
  display: block;
}
@media (max-width: 1024px) {
  .gallery-modal {
    max-width: 90%;
    width: 100%;
  }
}
.gallery-modal .close-modal {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
}
.gallery-modal .close-modal span {
  cursor: pointer;
}
@media (max-width: 1024px) {
  .gallery-modal .close-modal {
    padding: 10px 20px;
  }
}
.gallery-modal .gallery-body {
  padding: 0 50px 50px;
}
@media (max-width: 1024px) {
  .gallery-modal .gallery-body {
    padding: 0 25px 25px;
  }
}
.gallery-modal .gallery-body .gallery-img {
  width: 100%;
  height: 100%;
}
.gallery-modal .gallery-body .gallery-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dark-theme .new-case-single-body .content .left-block h1 {
  color: #FFFFFF;
}
.dark-theme .new-case-single-body .content .left-block .line {
  margin-bottom: 6px;
  width: 100%;
  height: 1px;
  background: #D9D9D9;
  flex-shrink: 0;
}
.dark-theme .new-case-single-body .content .left-block p {
  color: #FFFFFF;
}
.dark-theme .new-case-single-body .content .left-block h2 {
  color: #FFFFFF;
}
.dark-theme .new-case-single-body .content .left-block .case-step .step-info .step-title {
  color: #FFFFFF;
}
.dark-theme .new-case-single-body .content .left-block .quote {
  background: #1F1F1F;
}
.dark-theme .new-case-single-body .content .left-block .quote p {
  color: #FFFFFF;
}
.dark-theme .new-case-single-body .content .left-block .subtitle {
  color: #FFFFFF;
}
.dark-theme .new-case-single-body .content .left-block .navigation a {
  color: #FFFFFF;
}
.dark-theme .new-case-single-body .content .right-block {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (max-width: 1024px) {
  .dark-theme .new-case-single-body .content .right-block {
    display: none;
  }
}
.dark-theme .new-case-single-body .content .right-block .case-info {
  display: flex;
  padding: 10px 20px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 3px;
  background: #FAFAFA;
}
.dark-theme .new-case-single-body .content .right-block .case-info p {
  display: flex;
  padding: 10px 0px;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
  color: #474747;
  font-family: UZ Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 25.6px */
}
.dark-theme .new-case-single-body .content .right-block .case-info p a {
  color: #7399EC;
  font-family: UZ Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 350;
  line-height: 160%;
  text-decoration-line: underline;
}
.dark-theme .new-case-single-body .content .right-block .case-info p span {
  color: #474747;
  font-family: UZ Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 350;
  line-height: 160%;
}
.dark-theme .new-case-single-body .content .right-block .contact {
  max-width: 305px;
  border-radius: 3px;
  border: 1px solid #F1F1F1;
  background: #FAFAFA;
  display: flex;
  flex-direction: column;
  gap: 22px;
  align-items: center;
  padding: 40px 48px;
}
.dark-theme .new-case-single-body .content .right-block .contact p {
  color: #474747;
  text-align: center;
  font-family: UZ Sans;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 40px */
}
.dark-theme .new-case-single-body .content .right-block .contact span {
  color: #474747;
  text-align: center;
  font-family: UZ Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 350;
  line-height: 160%; /* 24px */
}
.dark-theme .new-case-single-body .content .right-block .contact a {
  display: flex;
  height: 48px;
  padding: 15px;
  align-items: center;
  gap: 15px;
  flex-shrink: 0;
  border-radius: 3px;
  border: 1px solid #474747;
  background: rgba(255, 255, 255, 0);
  transition: 0.3s ease;
}
.dark-theme .new-case-single-body .content .right-block .contact a span {
  color: #474747;
  font-family: UZ Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: 0.3s ease;
}
.dark-theme .new-case-single-body .content .right-block .contact a svg path {
  transition: 0.3s ease;
}
.dark-theme .new-case-single-body .content .right-block .contact a:hover {
  background: #01C2FF;
  border: 1px solid #01C2FF;
}
.dark-theme .new-case-single-body .content .right-block .contact a:hover span {
  color: #fff;
}
.dark-theme .new-case-single-body .content .right-block .contact a:hover svg path {
  fill: #fff;
}
.dark-theme .new-case-single-body .content .right-block .contact .socials {
  display: flex;
  gap: 22px;
  justify-content: center;
  align-items: center;
}
.dark-theme .new-case-single-body .content .right-block .contact .socials a {
  background: transparent;
  padding: 0;
  border: none;
}
.dark-theme .new-case-single-body .content .right-block .contact .socials a svg path {
  transition: 0.3s ease;
}
.dark-theme .new-case-single-body .content .right-block .contact .socials a:hover {
  transform: scale(1.1);
}
.dark-theme .new-case-single-body .content .right-block .contact .socials a:hover svg path {
  fill: #01C2FF;
}

/*# sourceMappingURL=case-styles.css.map */
