* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.content {
  max-width: calc(1280px + 20px * 2);
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  transition: .3s ease;
}
a {
  text-decoration: none;
}

ol, ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

@font-face {
  font-family: "UZ Sans";
  src: url(../fonts/UZSans-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "UZ Sans";
  src: url(../fonts/UZSans-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "UZ Sans";
  src: url(../fonts/UZSans-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "UZ Sans";
  src: url(../fonts/UZSans-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "UZ Sans";
  src: url(../fonts/UZSans-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "UZ Sans";
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  transition: 0.3s ease;

  &.light-theme {
    background: #fff;
    .header {
      .content {
        ul {
          li {
            a {
              &.light-theme-logo {
                display: block;
              }
              &.dark-theme-logo {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  &.dark-theme {
    background: #1F1F1F;
    .header {
      .content {
        ul {
          li {
            a {
              color: #ffffff;
              &.light-theme-logo {
                display: none;
              }
              &.dark-theme-logo {
                display: block;
              }
            }
            &.submenu-dropdown {
              .submenu {
                background: #1F1F1F;

                .content-row {
                  width: 100%;
                  display: flex;
                  .column {
                    &:first-child {
                      .list {
                        li {
                          a {
                            color: #FFFFFF;
                          }
                        }

                        &:first-child , &:last-child{
                          li {
                            &:last-child {
                              a {
                                font-size: 25px;
                                font-weight: 600;
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
                .contacts-row {
                  border-top: 1px solid #474747;
                  a {
                    border: 1px solid #1F1F1F;
                    color: #FFFFFF;
                  }
                }

              }
            }
          }
        }
      }
    }
  }
}
.header {
  position: relative;
  .content {
    display: flex;
    gap: 30px;
    align-items: center;
    @media (max-width: 1024px) {
      gap: 10px;
    }
    ul {
      width: 100%;
      display: flex;
      //align-items: center;
      justify-content: space-between;
      gap: 20px;
      position: relative;
      @media (max-width: 1100px) {
        gap: 10px;
      }
      li {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: center;
        @media (max-width: 1024px) {
          display: none;
          &:last-child , &:first-child {
            display: block;
          }
        }
        .header-logo {
          @media (max-width: 1024px) {
            img {
              width: 85px;
              height: 46px;
            }
          }
        }
        a {
          color: #474747;
          text-align: center;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          padding: 0 10px;
          transition: .3s ease;
        }
        .line {
          width: 1px;
          height: 1px;
          background: transparent;
          transition: .3s ease;
        }
        &.phone-dropdown {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .phone-wrap {
          width: 234px;
          height: 46px;
          position: relative;
          
          @media (max-width: 768px) {
            width: fit-content;
          }

          .phone-inner {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            padding: 10px;
            justify-content: center;
            align-items: flex-start;
            gap: 10px;
            border-radius: 5px;
            background: #FFF;
            box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
            z-index: 1;
            @media (max-width: 768px) {
              display: none;
            }
            .phones {
              display: flex;
              flex-direction: column;
              transition: .3s ease;
              a {
                color: #01C2FF;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;

                &:last-child {
                  display: none;
                }

              }
            }
            svg {
              transition: .3s ease;
              &:last-child {
                margin-top: 2px;
              }
            }
            &:hover {
              border-radius: 5px;
              background: #FFF;
              box-shadow: 0px 12px 15px -8px rgba(0, 0, 0, 0.25);
              height: unset;
              svg {
                &:last-child {
                  transform: rotate(180deg);
                }
              }
              .phones {
                gap: 20px;
                a {
                  &:last-child {
                    display: block;
                  }
                }
              }
            }
          }
          .phone-inner-mobile {
            display: none;

            .row {
              display: flex;
              padding: 10px;
              justify-content: center;
              align-items: flex-start;
              gap: 10px;
              svg {
                transition: .3 ease;
              }
            }
            .phones {
              border-radius: 5px;
              background: #FFF;
              box-shadow: 0px 12px 15px -8px rgba(0, 0, 0, 0.25);
              display: flex;
              flex-direction: column;
              gap: 15px;
              position: absolute;
              top: 100%;
              right: 0;
              width: 0px;
              padding: 10px;
              height: 0px;
              overflow: hidden;
              opacity: 0;
              visibility: hidden;
              transition: .3s ease;

              a {
                color: #01C2FF;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
              }

            }

            &:hover {
              svg {
                &:last-child {
                  transform: rotate(180deg);
                }
              }
              .phones {
                width: 180px;
                padding: 10px;
                height: unset;
                overflow: hidden;
                opacity: 1;
                visibility: visible;
              }
            }
            
            @media (max-width: 768px) {
              display: block;
            }
          }
        }
        &.submenu-dropdown {
          .dropdown {
            display: flex;
            gap: 10px;
            &::after {
              content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='24' viewBox='0 0 25 24' fill='none'%3E%3Cpath d='M12.939 15.713L18.949 9.70296L17.536 8.28796L12.939 12.888L8.34305 8.28796L6.92905 9.70196L12.939 15.713Z' fill='%23474747'/%3E%3C/svg%3E");
              display: block;
              transition: .3s ease;
            }
          }
          .submenu {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            border-radius: 3px;
            background: #FFF;
            box-shadow: 0px 16px 30px -18px rgba(0, 0, 0, 0.25);
            height: 0;
            overflow: hidden;
            opacity: 0;
            transition: .3s ease;

            .content-row {
              width: 100%;
              display: flex;
              border-top: 2px solid #01C2FF;
              .column {
                &:first-child {
                  display: flex;
                  width: calc(100% - 390px);
                  padding: 30px;
                  align-items: flex-start;
                  gap: 30px;
                  @media (max-width: 1150px) {
                    padding: 30px 15px;
                    gap: 20px;
                  }
                  .list {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    align-items: flex-start;

                    li {
                      a {
                        color: #474747;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        text-align: left;
                        transition: .3s ease;
                        @media (max-width: 1150px) {
                          font-size: 16px;
                        }
                        &:hover {
                          color: #01C2FF;
                        }
                      }
                      &:first-child {
                        a {
                          font-size: 25px;
                          font-weight: 600;
                        }
                      }
                    }

                    &:first-child , &:last-child{
                      li {
                        &:last-child {
                          a {
                            font-size: 25px;
                            font-weight: 600;
                          }
                        }
                      }
                    }
                  }
                }
                &:last-child {
                  width: 390px;
                  padding: 30px 25px;
                  background-image:url("../images/submenu-bg.png") , linear-gradient(180deg, #EFEFEF 0%, #FFF 77.71%, #F4F4F4 100%);
                  background-repeat: no-repeat;
                  background-position: bottom;
                  display: flex;
                  flex-direction: column;
                  gap: 15px;
                  position: relative;
                  z-index: 0;
                  p {
                    color: #474747;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    span {
                      color: #474747;
                      font-size: 30px;
                      font-style: normal;
                      font-weight: 700;
                      line-height: normal;
                    }
                  }
                  a {
                    display: inline-flex;
                    padding: 15px 20px;
                    align-items: center;
                    gap: 10px;
                    border-radius: 3px;
                    border: 1px solid #474747;
                    color: #474747;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    text-transform: uppercase;
                    transition: .3s ease;
                    width: fit-content;
                    &::after {
                      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M10 17L15 12L10 7' stroke='%23474747' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
                      display: block;
                    }
                    &:hover {
                      border-radius: 3px;
                      background: #01C2FF;
                      border: 1px solid #01C2FF;
                      color: #FFF;
                      &::after {
                        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M10 17L15 12L10 7' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
                        display: block;
                      }
                    }
                  }
                }
              }
            }
            .contacts-row {
              display: flex;
              padding: 20px 25px;
              justify-content: space-between;
              align-items: flex-start;
              align-self: stretch;
              border-top: 1px solid #E9E9E9;
              a {
                display: flex;
                padding: 15px;
                align-items: center;
                gap: 10px;
                border-radius: 3px;
                border: 1px solid #ffffff;
                color: #474747;
                font-size: 18px;
                font-style: normal;
                font-weight: 350;
                line-height: normal;
                transition: .3s ease;

                &:hover {
                  border-radius: 3px;
                  background: #00B0E7;
                  border: 1px solid #00B0E7;
                  color: #FFFFFF;

                  svg path {
                    fill: #FFFFFF;
                  }
                  &:nth-child(2) {
                    svg path {
                      fill: unset;
                      stroke: #FFFFFF;
                    }
                  }
                }
              }
            }
          }
          &:hover {
            .dropdown {
              &::after {
                transform: rotate(180deg);
              }

            }
            .submenu {
              //border-top: 2px solid #01C2FF;
              height: unset;
              opacity: 1;
            }
          }
        }
        &:hover {
          .line {
            width: 100%;
            background: #01C2FF;
          }
        }
        &.header-list-item {
          padding: 13px 0;
        }
      }
    }
    .burger-btn {
      display: none;
      @media (max-width: 1024px) {
        display: block;
      }
    }
    .mobile-menu {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      overflow-y: scroll;
      background: #FFFFFF;
      display: flex;
      flex-direction: column;
      z-index: 2;

      .head {
        width: 100%;
        display: flex;
        padding: 30px;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        align-self: stretch;
        box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.05) inset;
        .back-disable {
          display: flex;
          gap: 10px;
          align-items: center;
          span {
            color: #C4C4C4;
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: uppercase;
          }
        }
        .back {
          display: flex;
          gap: 10px;
          align-items: center;
          span {
            color: #474747;
            font-family: UZ Sans;
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: uppercase;
          }
        }
      }
      ul {
        display: flex;
        flex-direction: column;
        li {
          @media (max-width: 1024px) {
            display: block;
          }
          &.dropright {
            a {
              &::after {
                content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M9.29289 18.7071C8.90237 18.3166 8.90237 17.6834 9.29289 17.2929L14.5858 12L9.29289 6.70711C8.90237 6.31658 8.90237 5.68342 9.29289 5.29289C9.68342 4.90237 10.3166 4.90237 10.7071 5.29289L16.7071 11.2929C17.0976 11.6834 17.0976 12.3166 16.7071 12.7071L10.7071 18.7071C10.3166 19.0976 9.68342 19.0976 9.29289 18.7071Z' fill='%23474747'/%3E%3C/svg%3E");
                display: block;
              }
            }
          }
          a {
            display: flex;
            padding: 30px;
            align-items: center;
            gap: 10px;
            align-self: stretch;
            justify-content: space-between;
            background: #FFF;
            box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.05) inset;
          }
          .submenu {
            position: absolute;
            top: 0;
            left: -2100px;
            width: 100%;
            height: 100vh;
            overflow-y: scroll;
            background: #FFFFFF;
            display: flex;
            flex-direction: column;
            z-index: 2;

          }
        }
      }
      .banner {
        width: 100%;
        padding: 30px 25px;
        height: 420px;
        background-image:url("../images/submenu-bg.png") , linear-gradient(180deg, #EFEFEF 0%, #FFF 77.71%, #F4F4F4 100%);
        background-repeat: no-repeat;
        background-position: bottom;
        display: flex;
        flex-direction: column;
        gap: 15px;
        position: relative;
        z-index: 0;
        flex-shrink: 0;
        p {
          color: #474747;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          span {
            color: #474747;
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
        }
        a {
          display: inline-flex;
          padding: 15px 20px;
          align-items: center;
          gap: 10px;
          border-radius: 3px;
          border: 1px solid #474747;
          color: #474747;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          text-transform: uppercase;
          transition: .3s ease;
          width: fit-content;
          &::after {
            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M10 17L15 12L10 7' stroke='%23474747' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
            display: block;
          }
          &:hover {
            border-radius: 3px;
            background: #01C2FF;
            border: 1px solid #01C2FF;
            color: #FFF;
            &::after {
              content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M10 17L15 12L10 7' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
              display: block;
            }
          }
        }
      }
      .close-menu {
        cursor: pointer;
      }
    }

  }
}